{% extends 'base.html' %}
{% block main %}
<mech-box class="site-header">
  <div class="site-header-inner">
    {% if has_avatar %}
    <div class="site-avatar">
      <img src="{{ assets_prefix }}avatar.png" alt="{{ planet.name|escapejs }}">
    </div>
    {% endif %}
    <div class="site-info">
      <div class="site-title">{{ page_title|escape }}</div>
      <div class="site-about">{{ page_description }}</div>
    </div>
  </div>
</mech-box>
<color-box theme="ice" style="filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.5));">
  <div class="content">
    <div class="items">
      {% for article in articles %}
      <div class="item">
        <div class="item-date">{{ article.created|ymd }}</div>
        <div class="item-title"><a href=".{{ article.link }}">{{ article.title|escape }}</a></div>
      </div>
      {% endfor %}
    </div>
  </div>
</color-box>
{% endblock %}