{% extends 'base.html' %}
{% block head %}

<link rel="stylesheet" href="{{ assets_prefix }}assets/comments.css?r={{ build_timestamp }}">
<script src="./comments.js?r={{ build_timestamp }}"> </script>
<script src="{{ assets_prefix }}assets/__scbrf_comments.js?r={{ build_timestamp }}"> </script>
<script>
  scbrfCommentsConfig({
    planetid: "{{ planet.ipns }}",
    articleid: "{{ article.id }}",
    author: "{{ article.author }}",
    showHelper: true
  })
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    if (!window.PLANET.visitedFromPlanetClient) {
      if (document.getElementById('audio-container')) {
        document.querySelector('.audio-container').style.display = 'block';
      }
      breadcrumb([
        { text: "{{ planet.name|escapejs }}", url: '../' },
      ]);
    }
  });
</script>

{% endblock %}
{% block main %}
<h1>{{ article.title|escape }}</h1>
<div class="date" style="display:flex;">{{ article.created|formatDate }}
  <div id="scbrf-briefbar" class="scbrf-comments-container" style="margin-left:1em;"></div>
</div>
<div class="content">
  {% if article.hasVideo %}
  <div class="video-container">
    <video class="video" controls playsinline>
      <source src="{{ article.videoFilename }}">
    </video>
  </div>
  {% endif %}
  {% if article.hasAudio %}
  <div class="audio-container" id="audio-container" style="display: none;">
    <audio class="audio" controls>
      <source src="{{ article.audioFilename }}">
    </audio>
  </div>
  {% endif %}
  {{ content_html }}

  <div id="scbrf-mainbar" class="scbrf-comments-container scbrf-comments-input-container" style="display:flex;"></div>
  <div class="scbrf-comments-container">
    <div id="comments"></div>
  </div>

</div>
{% endblock %}