{% extends 'base.html' %}
{% block main %}
<div class="top">
  {% if has_avatar %}
  <img src="{{ assets_prefix }}avatar.png" width="72" height="72" class="avatar">
  {% endif %}
  <div class="site-info">
    <div class="site-title">{{ page_title|escape }}</div>
    {% if page_description.length > 0 %}<div class="site-about">{{ page_description }}</div>{% endif %}
  </div>
</div>
<div class="nav-container">
  <div class="nav">
    <a href="./" class="nav-current">Home</a>
    <!-- TODO: Implement Article.kind and Archive
  <a href="./" class="nav-item">About</a>
  <a href="./" class="nav-item">Archive</a>
  <a href="./" class="nav-item">Contact</a>
  -->
    {% if planet.twitterUsername.length > 0 %}
    <a href="https://twitter.com/{{ planet.twitterUsername|escapejs }}" target="_blank"><img
        src="{{ assets_prefix }}assets/twitter.svg" alt="twitter.com/{{ planet.twitterUsername|escapejs }}"
        class="social-icon" width="1em"></a>
    {% endif %}
    {% if planet.githubUsername.length > 0 %}
    <a href="https://github.com/{{ planet.githubUsername|escapejs }}" target="_blank"><img
        src="{{ assets_prefix }}assets/github.svg" alt="github.com/{{ planet.githubUsername|escapejs }}"
        class="social-icon" width="1em"></a>
    {% endif %}
  </div>
</div>
<div class="items">
  {% for article in articles %}
  <div class="item">
    <div class="item-title"><a href=".{{ article.link }}">{{ article.title|escape }}</a></div>
    <div class="item-info">
      <div class="item-date">{{ article.created|ymd }}</div>
      {% if article.hasVideo %}<img src="{{ assets_prefix }}assets/video.svg" width="1em" class="item-video-icon"
        alt="Video">{% endif %}
      {% if article.hasAudio %}<img src="{{ assets_prefix }}assets/microphone.svg" width="1em" class="item-audio-icon"
        alt="Video">{% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}