<div id="top-dom">
  <div id="top-dom-shrink-wrapper">
    <div id="header-container">
      {% if has_avatar == true %}
      <img src="{{ assets_prefix }}avatar.png" width="72" height="72" id="header-avatar">
      {% endif %}
      <div id="header-info">
        <div id="header-top">
          <div id="header-title"><span id="header-title-button">{{ planet.name }}</span></div>
          <div id="header-aux">
            <div id="fork-button">fork</div>
            <a href="{{ assets_prefix }}rss.xml" target="_blank">
              <img src="{{ assets_prefix }}assets/rss.svg" alt="RSS" class="header-social-icon" width="1em">
            </a>
          </div>
        </div>
        {% if page_description_html.count > 0 %}<div id="header-about">{{ page_description_html }}</div>{% endif %}
      </div>
    </div>
    <div id="nav-container">
      <div id="nav">
        <div id="post-mode-button" class="post-mode-button nav-item"><span id="grid-post-mode-button" class="post-mode-button-active"> </span> | <span id="list-post-mode-button">☰</span> | <span id="money-post-mode-button">$</span></div>
        {% for item in site_navigation %}
        <a href="{% if item.externalLink.count > 0 %}{{ item.externalLink }}{% else %}{{ assets_prefix }}{{ item.slug }}/{% endif %}" class="{% if article.slug == item.slug %}nav-current{% else %}nav-item{% endif %}"{% if item.externalLink.count > 0 %} target="_blank"{% endif %}>{{ item.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div id="tags-container">
      <div id="tags">
        <span id="default-tag" class="tag">(<span class="tag-text">all</span>)</span> 
        {% for tag in planet.tags %}
          <span id="custom-tag-{{ tag }}" class="tag custom-tag">(<span class="tag-text">{{ tag }}</span>)</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script>
  let postMode = "frames";
  
  const showNav = () => {
    const topDomShrinkWrapper = document.getElementById('top-dom-shrink-wrapper');
    const headerAbout = document.getElementById('header-about');
    const navContainer = document.getElementById('nav-container');
    const tagsContainer = document.getElementById('tags-container');
    const headerContainer = document.getElementById('header-container');
    const headerAvatar = document.getElementById('header-avatar');
    const headerTitle = document.getElementById('header-title');
    const headerAux = document.getElementById('header-aux');
    navContainer.style.visibility = "visible";
    tagsContainer.style.visibility = "visible";
    if (headerAbout) headerAbout.style.display = "initial";
    if (headerAvatar) headerAvatar.classList.remove("small");
    headerTitle.classList.remove("small");
    headerAux.classList.remove("small");
    headerContainer.classList.remove("small");
    topDomShrinkWrapper.style.height = headerContainer.offsetHeight + navContainer.offsetHeight + tagsContainer.offsetHeight + "px";
  }

  const hideNav = () => {
    const topDom = document.getElementById('top-dom');
    const topDomShrinkWrapper = document.getElementById('top-dom-shrink-wrapper');
    const headerAbout = document.getElementById('header-about');
    const navContainer = document.getElementById('nav-container');
    const tagsContainer = document.getElementById('tags-container');
    const headerContainer = document.getElementById('header-container');
    const headerAvatar = document.getElementById('header-avatar');
    const headerTitle = document.getElementById('header-title');
    const headerAux = document.getElementById('header-aux');
    navContainer.style.visibility = "hidden";
    tagsContainer.style.visibility = "hidden";
    if (headerAbout) headerAbout.style.display = "none";
    if (headerAvatar) headerAvatar.classList.add("small"); 
    headerTitle.classList.add("small");
    headerAux.classList.add("small");
    headerContainer.classList.add("small");
    topDomShrinkWrapper.style.height = headerContainer.offsetHeight + "px";
  }

  const togglePostMode = () => {
    const gridPostModeButton = document.getElementById("grid-post-mode-button");
    const listPostModeButton = document.getElementById("list-post-mode-button");

    if (postMode == "frames") {
      postMode = "list"; 
      listPostModeButton.classList.add("post-mode-button-active");
      gridPostModeButton.classList.remove("post-mode-button-active");
    } else {
      postMode = "frames"; 
      gridPostModeButton.classList.add("post-mode-button-active");
      listPostModeButton.classList.remove("post-mode-button-active");
    }
  }

  const decorateForkModal = () => {
    // Get references to elements that need decorating.
    const forkModal = document.getElementById("fork-modal");
    const topDomShrinkWrapper = document.getElementById("top-dom-shrink-wrapper");

    // Adjust the size.
    requestAnimationFrame(() => {
      forkModal.style.paddingTop = topDomShrinkWrapper.offsetHeight + 'px';
      forkModal.style.scrollPaddingTop = parseFloat(window.getComputedStyle(forkModal).getPropertyValue('scroll-padding-top')) + topDomShrinkWrapper.offsetHeight + "px";
      forkModal.style.height = `calc(100vh - (${topDomShrinkWrapper.offsetHeight + 'px'}))`;
    });

    // Make sure the modal is closeable when clicking on empty space.
    let activeElementOnClose;
    forkModal.addEventListener("mousedown", () => {
      activeElementOnClose = document.activeElement;
    });

    forkModal.addEventListener("click", (e) => {
      // Ignore if the clicked view shouldn't close the modal.
      if (!e.target.classList.contains("negative-space")) return;

      // Ignore if the clicked view comes while an input, select, or textarea field is selected.
      if (activeElementOnClose.tagName === "INPUT" || activeElementOnClose.tagName === "SELECT" || activeElementOnClose.tagName === "TEXTAREA") return;

      // Make the body scrollable.
      document.body.style.overflow = "auto";

      // Hide the modal.
      forkModal.style.display = "none";

      toggleNavVisibility();
    });

    decorateNewJbForm();
    decoratePermissionForm();
    decorateAllowanceForm();
  }

  const setupForking = () => {
    const forkModal = document.getElementById("fork-modal");
    const forkButton = document.getElementById("fork-button");

    // Summon a modal when the fork button is clicked.
    forkButton.addEventListener("click", async (e) => {
      e.preventDefault();

      // Show the modal.
      forkModal.style.display = "block";

      toggleNavVisibility();

      // Make the modal look right.
      await decorateForkModal();

      // Make the body not scrollable.
      document.body.style.overflow = "hidden";
    });
  }

  const titleButton = document.getElementById('header-title-button');
  titleButton.addEventListener('click', () => {
    {% if current_item_type == "blog" %}
    window.location.href = '../';
    {% else %}
    window.location.href = './';
    {% endif %}
  });

  const postModeButton = document.getElementById("post-mode-button");
  postModeButton.addEventListener('click', togglePostMode);
</script>
