#comments {
    padding: 1.5em 0;
    font-size: x-small;
}

#comments .scbrf-comments-post .scbrf-comments-post {
    margin-left: 4em;
}

#comments .scbrf-comments-post .scbrf-comments-post .scbrf-comments-post {
    margin-left: 8em;
}

.scbrf-comments-post .meta {
    display: flex;
    align-items: center;
}

.oprations .likes {
    margin-right: 1em;
    cursor: pointer;
}

.oprations .dislikes {
    margin-right: 1em;
    cursor: pointer;
}

.oprations .reply {
    margin-right: 1em;
}

.scbrf-comments-post .oprations {
    display: flex;
    align-items: center;
}

.meta .date {
    margin-left: 1em;
}

.scbrf-comments-container {
    color: var(--foreground-secondary-color);
}

.scbrf-comments-input-container {
    align-items: center;
}

.likebtn,
.dislikebtn {
    display: flex;
    align-items: center;
    padding: 3pt;
    cursor: pointer;
}

.likebtn {
    margin-right: 0.5em;
}

.likebtn span,
.dislikebtn span {
    margin: 0 0.5em;
}

.likebtn:hover,
.dislikebtn:hover {
    background-color: var(--border-color);
    border-radius: 0.3em;
}

.scbrf-comments-post .oprations input,
.scbrf-comments-input-container input {
    border: 0;
    margin: 0 1em;
    flex: 1;
    padding: 0.5em;
    background-color: transparent;
    color: var(--foreground-secondary-color);
}

.scbrf-comments-post .oprations input:focus,
.scbrf-comments-input-container input:focus {
    outline: none;
    border-bottom: 1px solid #00000040;
}

.scbrf-comments-container svg {
    width: 1.3em;
    height: 1.3em;
    stroke: var(--foreground-secondary-color);
}

.scbrf-comments-post .deletebtn {
    margin-right: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.scbrf-comments-post {
    padding: 0 0;
}



.scbrf-comments-post:hover {
    background-color: var(--border-color);
}

.scbrf-comments-post .meta {
    color: var(--foreground-secondary-color)
}

.scbrf-comments-post .meta .from {
    margin-right: 0.5em;
}

.scbrf-comments-post .meta .date {
    margin: 0 0.5em;
}

.scbrf-comments-post .oprations,
.scbrf-comments-post .commentbody {
    margin: 0.5em 0;
    color: var(--foreground-secondary-color);
}

.scbrf-comments-post .commentbody {
    font-size: small;
}

.scbrf-comments-post .oprations {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
}

.comments-sep {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 1em;
}

.scbrf-comments-helper {
    margin-left: 1em;
    font-size: x-small;
    opacity: 0.5;
    color: var(--foreground-secondary-color);
}

.trusted {
    padding: 0;
    margin: 0;
}

.trusted a {
    display: flex;
    align-items: center;
}

.trusted img {
    margin-left: 1em;
    width: 1.5em;
    height: 1.5em;
}

#comments {
    border-top: 1px solid #f0f0f0;
    margin-top: 2em;
}