<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="True" name="HandheldFriendly">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=auto">
    <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#1c1c1e" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="{{ assets_prefix }}assets/style.css?sha256={{ style_css_sha256 }}">
    <link rel="preload" href="{{ assets_prefix }}planet.json" as="fetch" type="application/json" crossorigin="anonymous">
    <link rel="preload" href="{{ assets_prefix }}rss.xml" as="fetch" type="application/rss+xml" crossorigin="anonymous">
    <title>{% block title %}{{ page_title|escape }}{% endblock %}</title>
    <script type="text/javascript" src="{{ assets_prefix }}assets/utils.js"></script>
    <script>
      let userAgentRegex = /Planet\/\S*/;
      window.PLANET = {
        visitedFromPlanetClient: !!navigator.userAgent.match(userAgentRegex),
        assetsPrefix: '{{ assets_prefix }}',
      };

      function breadcrumb(stubs) {
        let container = document.createElement('div');
        container.classList.add('breadcrumb')
        let inner = document.createElement('div');
        inner.classList.add('breadcrumb-inner');
        container.appendChild(inner);
        {% if has_avatar %}
        let avatarHTML = `
          <div class="breadcrumb-avatar">
            <a href="{{ assets_prefix }}"><img src="{{ assets_prefix }}avatar.png" height="16" class="breadcrumb-avatar-image" border="0" /></a>
          </div>
        `;
        inner.innerHTML = avatarHTML;
        {% endif %}
        if (!stubs || !stubs.length) {
          return;
        }

        const getStubElem = (stub) => {
          let elem;
          if (stub.url) {
            elem = document.createElement('a');
            elem.href = stub.url;
          } else {
            elem = document.createElement('span');
          }
          elem.innerText = stub.text;
          if (stub.classes) {
            elem.classList.add(...stub.classes);
          }
          return elem;
        };

        const getSeparatorElem = () => {
          let elem = document.createElement('span');
          elem.innerText = '›';
          elem.classList.add("chevron");
          return elem;
        }

        inner.append(getStubElem(stubs[0]));
        inner.append(getSeparatorElem());
        for (let i = 1; i < stubs.length; i++)  {
          inner.append(getStubElem(stubs[i]));
          if (i < stubs.length - 1) {
            inner.append(getSeparatorElem());
          }
        }

        let main = document.querySelector('.main');
        main.style.paddingTop = '10px';

        let wrapper = document.querySelector('.wrapper');
        wrapper.insertAdjacentElement('afterbegin', container);
      }
    </script>
    {% if has_avatar %}
    <link rel="icon" href="{{ assets_prefix }}avatar.png" sizes="144x144">
    <link rel="shortcut icon" href="{{ assets_prefix }}favicon.ico" type="image/png">
    {% endif %}
    {% block head %}{% endblock %}
    {% if planet.plausibleEnabled %}
    <script defer data-domain="{{ planet.plausibleDomain }}" src="https://{{ planet.plausibleAPIServer }}/js/plausible.local.js"></script>
    {% endif %}
    {% if custom_code_head.count > 0 %}{{ custom_code_head }}{% endif %}
  </head>
  <body>
    {% if custom_code_body_start.count > 0 %}{{ custom_code_body_start }}{% endif %}
    <div class="wrapper">
      <div class="main">
      {% block main %}
      {% endblock %}
        <footer id="footer" style="display: none;"><div class="footer-inner">
        </div></footer>
      </div>
    </div>
    {% if custom_code_body_end.count > 0 %}{{ custom_code_body_end }}{% endif %}
  </body>
</html>
