<script type="text/javascript" src="{{ assets_prefix }}assets/bs58.bundle.js"></script>
<!-- Saved from: https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js -->
<script type="text/javascript" src="{{ assets_prefix }}assets/markdown-it.min.js"></script>
<!-- Saved from: https://unpkg.com/markdown-it-task-lists@2.1.1/dist/markdown-it-task-lists.js -->
<script type="text/javascript" src="{{ assets_prefix }}assets/markdown-it-task-lists.js"></script>
<script type="text/javascript" src="{{ assets_prefix }}assets/markdownItAnchor.umd.js"></script>
<script type="text/javascript" src="{{ assets_prefix }}assets/markdown-it-footnote.min.js"></script>
